.pen-style-red { color: red; }
.pen-style-orange { color: orange; }
.pen-style-yellow { color: yellow; }
.pen-style-green { color: green; }
.pen-style-purple { color: purple; }
.pen-style-blue { color: blue; }
.pen-style-black { color: black; }